@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  margin: 0;
  font-family:'Mr Dafoe', serif;;
  
  background-color:rgb(231, 207, 176);
}

/* Header */
.header {
  text-align: center;
  padding: 0.5rem;
  align-items:center;
  justify-content:center;
}
#Logo {
  justify-content: center;
  align-items:center;
  width: 20%;
  height: 20%;
}
/* Login */
.login {
  position:center;
  margin: 0 auto;
  padding: 60px 0;
  width: 320px;
}
.login button{
  position:center;
 
  width: 105%;
  font-size: medium;
  
}
label {
  font-weight:lighter;
  display:contents;
  align-items: center;
}

input {
  padding: 0.40rem;
  border:rgb(212, 189, 86);
  font-family:sans-serif;
  font-size: 1.0em;
  transition: all 0.2s;
  width: 100%;
}

.navbar {
 
  
  overflow: hidden;
  width: 700px;
  margin: auto;
  /*margin-right: auto;    
  margin-left: auto; 
  padding-left: 30px;
  padding-right: 30px;*/

}
.navbar a {
  float:inline-start;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

 

.navbar a:hover{

  color: rgb(11, 51, 5);
  background: rgb(177, 196, 135);
}


