@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  margin: 0;
  font-family: Misto;
  
  background-color:rgb(190, 138, 99);
}

/* Header */
.header {
 
  text-align: center;
  padding: 0.5rem;
  align-items:center;
  justify-content:center;
}
.home {
  font-family: Misto;
  font-style: oblique;
  font-weight: lighter;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

label {
  font-weight:bolder;
  font-size:larger;
  display:contents;
  align-items: center;
}

input {
 
  padding: 0.40rem;
  border:rgb(56, 62, 141);
  font-family:sans-serif;
  font-size: 1.0em;
  transition: all 0.2s;
  width: 100%;
}

.navbar {
 
  font-family: Misto;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: 190, 138, 99;
  text-shadow: 2px 2px #293d50;
  margin: 2%;
  font-size: 8px;
  color: #F5C675;
  padding: 1.1%;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.644);
  border-bottom: solid 1px #000000;
  overflow:hidden;
  transition: .5s;
  padding-left: 500px;
  padding-right: 40px;

}
.nav-button{
  font-family: Misto;
  display:ruby-base-container;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: rgb(63, 37, 17);
  text-shadow: 1px 1px #293d50;
  margin: 1%;
  font-size: 20px;
  color: #d1af75;
  padding: 1.0%;
  border-radius: 10px;
  font-weight:lighter;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.644);
  border-bottom: solid 2px #000000;
  overflow: hidden;
  transition: .5s;
}
.nav-button:hover{
  background-color: #F5C675;
  color:#3f5c46;
  text-shadow: 2px 1px white;
}
.nav-button:active{
  -ms-transform: translateY(3px);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0 0 1.0px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
input{
  padding: 1%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  font-family: Butler;
  color: #020e13;
  background-color: #FEF7EC;
  border-width: 0px;
}
input:hover{
  box-shadow: 0px 0px 2px #555252;
}
form{
  padding: 1%;
  text-align: center;
}
select{
  font-size: 25px;
  font-family: Butler;
  padding: 10px;
  border-radius: 10px;
  border: none
}
.form{
  padding: 5%;
  background-color: rgb(172, 122, 85);
  border-radius: 50px;
  margin-top: 0px;
  margin-right: 450px;
  margin-left: 450px;
}
label {
  text-align: center;
}
.filter {
  width: 400px;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  background-color: rgb(172, 122, 85);
}
select {
  background-color: rgb(172, 122, 85); 
  text-align: center;
}
option {
  background-color: rgb(172, 122, 85); 
  font-size: 20px;
 
  text-align: center;
}
option:hover{
  background-color: rgb(172, 122, 85);
}
.grid-container {
  display: grid;
  margin: 0 auto;
  background-color: rgb(190, 138, 99);
  grid-template-columns: auto auto auto;
  gap: 1% 1%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 1%;
  min-width: 50rem;
}
.grid-item {
  display: flex;
  height: 500px;
  background-color: rgb(190, 138, 99);
  display:inline-table;
 
  border: 50px solidrgb(190, 138, 99);
  padding: 40px;
  font-size: 20px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  border: 85x solid rgb(46, 42, 34);
}